
   
    <html class="gr__"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>InterProject</title>
     
    </head>
    
   <body data-gr-c-s-loaded="true"><link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,900" rel="stylesheet">
    
    
    
    
    
   <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,900" rel="stylesheet">
    <link href="./interProject_files/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/menu.min.css">
    <style type="text/css">
    .body{
        min-width:1592px;
        max-width:1592px;
    }
    .one{
        top: 0;
        left: 0;
        width: 80%%;
       margin-left: 10%;
       margin-right: 10%;
       margin-top:-12%;

    }
    .card{
        width:100px;
        height:100px;
        float:left;
            width: 100px;
        height: 15em;
        float: left;
        margin-left: 10%;
        width: 15em;
        margin-top: 4%
    }
    .two{
            padding-top: 100px;
        color: #8eb0ba;
        font-size: 4em;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'Libre Franklin', sans-serif;
    }
    .three{
        text-align: center;
        margin-left: 10%;
        width: 80%;
        background-color: rgb(53, 54, 56);
        height: 100%;
        margin-top: -3%;
    }
    body{
        background-color: #0c0a0b;
    }
    .four{
        color: rgb(173, 174, 174);
        font-size: 1.2em;
        margin: 0 15%;

    }
    .five{
    padding-top: 73px;
        color: #8eb0ba;
        font-size: 3em;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'Libre Franklin', sans-serif;
    }
    .fiveDiv{
        background-color: #353638;
        margin-top: -4%;
        height: 300%
    }
    .rewards{
        width:100%;
    }
    .winningTeam{
        background-color: #353638;
    }
    .six{
        padding-top: 123px;
        color: #8eb0ba;
        font-size: 3em;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'Libre Franklin', sans-serif;
        margin-top: -11%
    }

    .seven{
        font-family: 'Libre Franklin', sans-serif;
         color: #8eb0ba;
         background-color: #353638;
         border:2px solid #8eb0ba;
         margin-top: 2%;
             padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    span{
        color:white;
    }
    .eight{
        margin-top: -131%;
       
    }
    .nine{
            margin-top: -79%;
        margin-left: -49%;
        display: inline
    }
    .ten{
              margin-top: -79%;
        margin-left: 50%;
        height: 76%;
        width: 50%;
        background-color: #8eb0ba;
        color: #353638;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.4em;
        border: 1px solid #8eb0ba;

    }
    .eleven{
            padding-top: 18%;
        padding-right: 67%;
    }
    .twelve{
            margin-top: -3%;
        padding-right: 25%;
    }
    .fourteen{
            color: #353638;
        background-color: #8eb0ba;
        border: 2px #353638 solid;
        font-size: 1.1em;
        padding-left: 18px;
        padding-right: 18px;
    }
    .thirteen{
        font-size: 0.7em;
        color: #353638;
    }
    .sixteen{
            font-size: 2em;
        font-family: 'Libre Franklin', sans-serif;
        color: #8eb0ba
    }
    .navigation{
        color:white;
        float:left;
        margin-left:55px;
    }
    .trueRewards{
        font-family: 'Libre Franklin', sans-serif;
    }
    </style>
 
  
    
    
        
        
        
        <div style="
       max-width: 1500px;
    min-width: 1500px;
    height: 713px;
    max-height: 713px;
    min-height: 713px;
    
">
            <div class="">

            <img class="one" src="/images/Header-img.png" style="
        width: 100%;
        object-fit:  cover;
        padding: 0px;
        margin: 0px;
    ">
            <span class="head" style="
        font-size: 1.4em;
        /* padding-left: 29%; */
        font-family: 'Raleway', sans-serif;
    ">

    <!-- <div class = "navbar"> -->
    <!-- <span><p>About US</p><p>Investors</p><p>True Rewards</p><p>Press News</p></span>
    <span>Golden logo</span>
    <span>
    <p>Casino Group</p>
    <p>Tavern Group</p>
    <p>Route Operations</p>
    </span>
    </div> -->  


    <span>
        <div class="navigation" style="
    margin-top: -25%;
">
    <div class="ui secondary  menu" style="
            margin-top: -45%;
    margin-left: 12%;
    position: relative;
    z-index: 1000;
    background-color: #ff000000;
    width: 4%;
    ">
      <a class="active item" style="
        color: white;
        /* margin-top: 9%; */
    ">
        About Us
      </a>
      <a class="item" style="
        color:  white;
    ">
        Investors
      </a>
      <a class="item" style="
        color: white;
    ">
        True Rewards
      </a>
      <a class="item" style="
        color: white;
    ">
        Press / News
      </a><a class="item" style="
        color: red;
    ">
        <img style="    height: 3em;
    width: 8em;" src="/images/GE-logo.png">
      </a>
        
        <a class="item" style="
        width: 106px;
        color: white;
        height:10px;
        border-left: 2px solid #FFC107;
    ">GOLDEN Casino Group</a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
          
           
          </div>
        </div>
        <a class="ui item" style="
        color: white;
        border-left: 2px solid #FF9800;
        width: 108px;
        height: 9px;
    ">GOLDEN Tavern Group</a><a class="ui item" style="
        /* font-size: 0.8em; */
        width: 102px;
        width: 91px;
        height: 9px;
        color: white;
        border-left: 2px solid #FF5722;
    ">GOLDEN        Route Op</a>
      </div>
    </div>

    </div>
            <h1 style="
        text-shadow:0px 0px 20px rgba(0,0,0,0.12);
        font-style:  thin;
        font-weight: 100;
        margin-top: -24%;
        margin-left: 19%;
    ">IN A BUSINESS</h1>
            <h1 style="
        margin-left: 18%;
        font-weight: 100;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.12);
    ">THATS MOSTLY FLASHY,</h1>
            <h1 style="
        font-weight: 1000;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.12);
        margin-left: 18%;
    ">WE'RE THE REAL DEAL</h1>
        </span>
            </span> 
            <a href="/about"><button class="seven" style="
        margin-left: 18%;
        color: #8eb0ba;
        background-color: #0a667000;
        margin-top: -12px;
    ">Get To Know Us </button></a>

        </div>  
        <div class="three" style="
        /* margin-top: -191%; */
        /* margin-bottom: 55px; */
        /* border-bottom: 10px solid red; */
        margin-left:  0px;
        margin-right: 0px;
        width:  100%;
    ">



    <div style="
    text-shadow: 0px 0px 20px rgba(0,0,0,0.12);
    /* padding: 0px; */
    /* margin-left:  0px; */
    /* margin-right:  0px; */
    /* object-fit:  cover; */
    /* width: 155%; */
"><h1 class="two">Real entertainment for Real People</h1>
    <p class="four" style="
    font-family: 'Libre Franklin', sans-serif;
">Through our group of Casinos,taverns and gaming,we create world-class experiences at world-class value. Visit any of our Locations and you'll find real food    ,real drink pours and really good times.</p></div>
        <div>
            <!-- <span class="card">
            <img class="card card1" src="./InterProject2_files/image_258938782.img.jpg">
            
        </span>
            <span class="card"><img class="card card2" src="./InterProject2_files/image_258938782.img.jpg">
            <h2>nsaodsnodndfdosdnof</h2></span>
            <span class="card"><img class="card card3" src="./InterProject2_files/image_258938782.img.jpg">
            <h2>nsaodsnodndfdosdnof</h2></span> -->
    <div class="ui card" style="
        font-family: 'Libre Franklin', sans-serif;
        border-radius:0;
        margin-left: 5%;
        margin-top: 15px;
        width: 25%;
        height: 78%;
    ">
      <div class="image" style="
        /* margin-left: 0%; */
    ">
        <img src="/images/2ndsectionimage1.png" style="
        height: 60%;
    ">
      </div>
      <div class="content" style="
        height: -9px;
    ">
        <h1 class="header" style="
        margin-top: -22px;
        margin-left: -52%;
        font-size: 4em;
        color: red;
    ">200+</h1>
        <p style="
        color: red;
        margin-top: -15%;
        margin-left: -60%;
        font-size: 1.2em;
    ">Route Operations</p> 
        <p style="
        margin-top: -6px;
        width: 147%;
        margin-left: -27%;
        font-size: 1em;
    ">More than 12000 machines in 980+ locations</p>
        <p style="
        margin-left: -15%;
        font-size: 1em;
    ">across Nevada,Montana and Pennsylvania</p>
        <button class="seven" style="
        margin-top: 18px;
        background-color:  white;
        border: 2px solid #F44336;
        color: #F44336;
    ">Route Operations</button> 
        
        
      </div>
      
    </div>
    <div class="ui card" style="
        border-radius:0;
        /* width: 22%; */
        margin-left: 79px;
        margin-right: 101px;
        /* height: 49%; */
        width: 25%;
        height: 78%;
    ">
      <div class="image">
        <img src="/images/2ndsectionimage3.png" style="
    height: 60%;
    ">
      </div>
      <div class="content" style="
    font-family: 'Libre Franklin', sans-serif;
">
        <h1 class="header" style="
        margin-top: -21px;
        color: #FFC107;
        margin-left: -73%;
        font-size: 4em;
    ">60 </h1>
        <p style="
        margin-left: -35%;
        color: #FF9800;
        margin-top: -14%;
        font-size: 1.2em;
    ">Neighbourhood Taverns</p>
        <p style="
        /* font-size:  0.7em; */
    ">The Locals Prefered choice for gaming,food</p>
        <p style="
        /* font-size:  0.7em; */
        margin-left: -20%;
    "> and all-around entertainment </p>
        <button class="seven" style="
        background-color:  white;
        border: 2px solid #ead735;
        color: #ead735;
    ">TAVERN Group</button>
        
        
      </div>
      
    </div>
    <div class="ui card" style="
        font-family: 'Libre Franklin', sans-serif;
        border-radius:0;
        /* height: 49%; */
        margin-bottom: 103px;
        /* width: 22%; */
        width: 25%;
        height: 78%;
    ">
      <div class="image" style="
        /* border: 0px solid #0c0a0b; */
    ">
        <img src="/images/2ndsectionimage2.png" style="
    height: 60%;
">
      </div>
      <div class="content" style="
    ">
        <h1 class="header" style="
        margin-top: -23px;
        margin-right: 84%;
        font-size: 4em;
        color: #e6d114;
    ">8</h1>
        <p style="
        margin-top: -16%;
        color: #f9c322;
        margin-left: -57%;
        font-size:  1.2em;
        /* margin-right: 115px; */
    ">Casino Resorts</p>
        <p style="
        font-family: 'Libre Franklin', sans-serif;
        /* font-size: 0.7em; */
        margin-top: -9px;
    ">Seven Casionos in Nevada,including Start,</p>
        <p style="
        font-family: 'Libre Franklin', sans-serif;
        /* font-size:  0.7em; */
    ">and one in Maryland</p>
        <button class="seven" style="
        margin-top: 16px;
        background-color:  white;
        border: 2px solid #ead735;
        color: #ead735;
    ">Get To Know Us </button>
        <div class="meta">
         
        </div>
       
      </div>
     
    </div>

        
        
        
            <div class="trueRewards" style="
    /* margin-top: 79px; */
    /* padding-top: 23px; */
    /* margin-bottom: -7%; */
">
                <img class="rewards" src="/images/3sectionbackgroindimage.png" style="
        border-top: 300px solid #353638;
        margin-top: -21%;
    ">
    <h1 style="text-shadow: 0px 0px 20px rgba(0,0,0,0.12);letter-spacing: 4px;color: red;font-size: 3em;z-index: 100;position:  relative;float: left;margin-left: 11%;margin-top: -26%;color: #8eb0ba;">REWARDS THAT</h1><h1 style="letter-spacing: 4px;font-size: 3em;color: #8eb0ba;position:  relative;z-index:  100;float:  left;margin-top: -22%;margin-left: 10%;">ACTUALLY PAY OFF</h1>
          <span style="
          font-family: 'Libre Franklin', sans-serif;
          float: left;
          width: 593px;
              margin-left: 10%;
          position:  relative;
          z-index:  100;
          margin-top: -18%;
">
              <p>True Rewards members rack up points when they play at any of our casinos</p>
              <p style="
    margin-left: -42px;
">taverns and gaming machines. and can redeem points at any location</p>
              <p style="
    margin-left: -443px;
">All on one card</p>
          </span>
          <img src="/images/3sectioncardimage.png" style="
    float: right;
    z-index:  100;
    position:  relative;
    margin-top: -35%;
    height: 64%;
">
            </div>
        <div class="fiveDiv">
            <h1 class="five" style="
    text-shadow: 0px 0px 20px rgba(0,0,0,0.12);
"> A BUSINESS UNLIKE</h1>
            <h1 class="six">ANY OTHER IN THE GAME</h1>
            <p class="four">The hub-and-spoke of business model is all about rewarding customers.</p>
            <p class="four">See how it plays out and pays off at each of our properties.</p>
            <button class="seven">ABOUT US</button>

        </div>
             <img style = "margin-top:-120%" class="eight" src="/images/copy2.jpg">
            <div>
                <div>
                 <img class="nine" style="height: 66%;width:51%;" src="/images/5thsectionimage.jpg">
                 
             </div>   
                <div class="ten" style="
        height: 468px;
        
    "> 
                    <h1 class="eleven">JOIN</h1>
                    <h1 class="twelve">A WINNING TEAM</h1>
                    <span class="thirteen"><p style="
    margin-left: -139px;
">Our Success comes from dedication and commitment of team</p>
                    <p style="
    margin-left: -70px;
">members working towards one goal:create a positive guest experience.</p>
                    <p style="
    margin-left: -372px;
">See what else we are all about.</p></span>
                    <button class="fourteen">Our Culture</button>
                </div>

            </div> 

                <div class="fifteen" style="
        /* border-bottom: 134px solid red; */
    ">   
                    <span class="sixteen">
                        <h1 style="
        text-shadow: 0px 0px 20px rgba(0,0,0,0.12);
        margin-top: -45%;
        margin-bottom: -45px;
    ">INVEST IN REAL</h1>
                    <h1 style="
    /* margin-top: -17px; */
    /* float:  left; */
    /* z-index:  100; */
    /* margin-top: -1%; */
    padding-top: -17px;
">ENTERTAINMENT</h1>
                    </span>
                    <span class="seventeen"> <p style="
    font-family: 'Libre Franklin', sans-serif;
">When it comes to business,we're an open book.</p>
                    <p style="
    font-family: 'Libre Franklin', sans-serif;
">See the latest in stocks,financials and news</p> </span>
                               <button class="seven">OUR CULTURE</button>


                </div>  
        </div>
       <div>
           
           <div style="
    height: 31%;
    color: white;
    background-color: #1d1e20;
    margin-right: 1px solid red;
    ">
             
              <img src="/images/footer1thimage.png" style="margin-top: 4%;margin-left: 31%;">
              
              <img src="/images/footer2thimage.png" style="
    padding-left: 26px;
">
              
              <img src="/images/footer3thimage.png" style="
    padding-left: 27px;
">
              
              <img src="/images/footer4thimage.png">
              
              <img src="/images/footer5thimage.png" style="
    /* padding-left: 15px; */
">
              
              <img src="/images/footer6thimage.png">
              
              <img src="/images/footer7thimage.png">
              
              <img src="/images/footer8thimage.png" style="
    margin-left: 27%;
">
              
              <img src="/images/footer9thimage.png" style="
    margin-left: 18px;
">
              
              <img src="/images/footer10thimage.png" style="
    margin-left: 14px;
">
              
              <img src="/images/footer11thimage.png">
              
              <img src="/images/footer12thimage.png">
              
              <img src="/images/footer13thimage.png" style="
    margin-left: 20px;
">
              
              <img src="/images/footer14thimage.png">
              
           </div>
        <div class="ui secondary  menu" style="
    margin-left:  0;
    /* margin-right: 26px; */
    width: 100%;
    /* margin-bottom: -22px; */
    margin-top: -37px;
    /* margin-right: -40px; */
    background-color: #1d1e20;
    margin-left: 4%;
    margin-left: 0px;
">
  <a class="active item" style="
    color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* margin-left:  0; */
    /* border-left: 58px solid red; */
">
    Home
  </a>
  <a class="item" style="
    color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* color: white; */
    /* font-size:  0.7em; */
">
    Contact Us
  </a>
  <a class="item" style="
    color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* color: white; */
    /* font-size:  0.7em; */
">
    Career Oppurtunities
  </a>
 
     <a class="item" style="
    color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    margin-left: 46%;
    /* color: white; */
    /* font-size:  0.7em; */
">
  © Global Entertainment
  </a>
    <a class="item" style="color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* color: white; */
    /* font-size:  0.7em; */
    
">
    Privacy Policy
  </a> 
     <a class="item" style="color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* color: white; */
    /* font-size:  0.7em; */
    
">
    GDPR Notice
  </a>
  <a class="item" style="color: #717274;
    font-size: 0.7em;
    border-right: 1px solid #737476;
    height: 1px;
    /* color: white; */
    /* font-size:  0.7em; */
    
">
   Accessibility Statement
  </a>
     
 
</div>
        
            
        </div>
       
            
        </div>



    
    </div>
    <img src="/images/footerleftlogo.png" style="
    padding: 25px;
    /* height: 37px; */
    border-right: 1px solid #636363;
    margin-left: 50px;
    float:  left;
    margin-top: 1832px;
    background-color: #1d1e20;
    padding-right: 81px;
">
    
    
    
    
    
    </body>
    </html>